@{
    ViewData["Title"] = "صفحه اصلی سایت";
}

<div class="text-center">
    <h4 class="display-4">خوش آمدید</h1>
    <p><a class="btn btn-warning text-white">building Web apps with ASP.NET Core And PostgreSQL</a></p>
</div>
